<form name="forgotForm" id="forgotForm" ng-controller="forgotPasswordCtrl" ng-submit="sendEmail(forgotForm.$valid)" novalidate>
	<label>Địa chỉ email khôi phục mật khẩu:</label><br>
	<input type="email" name="email" ng-model="email" placeholder="diachi@email.com" required>
	<span class="hint" ng-show="forgotForm.email.$touched && forgotForm.email.$invalid">Email không đúng</span>
	<input type="submit" ng-disabled="forgotForm.$invalid" value="Gửi">
	<style type="text/css">
		#forgotForm{
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	</style>
</form>